
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}
<h4 class="page-header" style="color:white">Dashboard</h4>

<style>
        :root {
            --surface-color: #fff;
            --curve: 40;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Noto Sans JP', sans-serif;
            background-color: #fef8f8;
        }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 2rem;
        margin: 4rem 5vw;
        padding: 0;
        list-style-type: none;
        border-radius: calc(var(--curve) * 1px);
    }

        .card {
            position: relative;
            display: block;
            height: auto;
            border-radius: calc(var(--curve) * 1px);
            overflow: hidden;
            text-decoration: none;
        }

        .card__image {
            width: 100%;
            height: 100%;
        }

        .card__overlay {
            width: fit-content;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: calc(var(--curve) * 1px) 0;
            background-color: var(--surface-color);
            transform: translateY(100%);
            transition: .2s ease-in-out;
        }

        .card:hover .card__overlay {
            transform: translateY(0);
        }

        .card__header {
            position: relative;
            display: flex;
            align-items: center;
            gap: 2em;
            padding: 2em;
            border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
            background-color: var(--surface-color);
            transform: translateY(-100%);
            transition: .2s ease-in-out;
        }

        .card__arc {
            width: 80px;
            height: 80px;
            position: absolute;
            bottom: 100%;
            right: 0;
            z-index: 1;
        }

            .card__arc path {
                fill: var(--surface-color);
                d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
            }

        .card:hover .card__header {
            transform: translateY(0);
        }

        .card__thumb {
            flex-shrink: 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .card__title {
            margin: 0 0 .3em;
            color: #6A515E;
        }

        .card__tagline {
            display: block;
            margin: 1em 0;
            font-family: "MockFlowFont";
            font-size: .8em;
            color: #D7BDCA;
        }

        .card__status {
            font-size: .8em;
            color: #D7BDCA;
        }

        .card__description {
            padding: 0 2em 2em;
            margin: 0;
            color: #503051;
            font-family: "MockFlowFont";
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    </style>
    <ul class="cards" style="background: #32142fa1; padding: 69px;">
        <li>
            <h2 style="font-size:24px;color:white">Users Count</h2>
            <a target="_blank" href="/AllUsers/Users" class="card">
                <div class="card__overlay">
                    <div class="card__header">
                        <div class="card__header-text">
                            <h3 class="card__title">
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><i class="fa fa-user" aria-hidden="true"></i>@ViewBag.UsersCount</div>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <p class="card__description">View details</p>
                </div>
            </a>
        </li>
        <li>
            <h2 style="font-size:24px;color:white">Admin Count</h2>
            <a class="card" target="_blank" href="/AllUsers/admin">
                <div class="card__overlay">
                    <div class="card__header">
                        <div class="card__header-text">
                            <h3 class="card__title">
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><i class="fa fa-user-secret" aria-hidden="true"></i>@ViewBag.AdminCount</div>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <p class="card__description">
                        View details
                    </p>
                </div>
            </a>
        </li>
        <li>
            <h2 style="font-size:24px;color:white">Project Count</h2>
            <a target="_blank" href="/Project/Index" class="card">
                <div class="card__overlay">
                    <div class="card__header">
                        <div class="card__header-text">
                            <h3 class="card__title">
                                <div class="col-xs-9 text-right">
                                    <div class="huge"><i class="fa fa-files-o" aria-hidden="true"></i>@ViewBag.ProjectCount</div>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <p class="card__description">View details</p>
                </div>
            </a>
        </li>
    </ul>
</body>

