<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Template/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Template/dist/css/sb-admin-2.css" rel="stylesheet">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">

    <link href="~/Content/Validation.css" rel="stylesheet" />
    <link href="~/Scripts/datetimepicker/jqueryui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <!-- Custom Fonts -->
    <link href="~/Template/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        font-family: "Lato", sans-serif;
    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        color:white;
        background-color: #1110;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 15px;
            color: white;
            display: block;
            transition: 0.3s;
        }

            .sidebar a:hover {
                color: #f1f1f1;
            }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #fffafa00;
        color: white;
        padding: 10px 15px;
        border: none;
    }

        .openbtn:hover {
            background-color: #998799;
        }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }


    .flip-card {
        background-color: transparent;
        width: 300px;
        height: inherit;
        perspective: 1000px;
        padding: inherit;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: black;
        color: white;
    }

    .flip-card-back {
        background-color: black;
        color: grey;
        transform: rotateY(180deg);
    }
</style>
<body style="background: linear-gradient(90deg, #49274a, transparent),url(https://cdn.pixabay.com/photo/2021/07/26/21/30/clock-6495245_960_720.jpg); background-image: /* background-repeat: round; */ background-size: cover; background-size: cover;">
    <script>
        function openNav() {
            var flag = document.getElementById("mySidebar").style.width == "200px";
            document.getElementById("mySidebar").style.width = (!flag ? "200px" : "0px");
            document.getElementById("page-wrapper").style.margin = (!flag ? "0 0 0 190px" : "0 0 0 0px");;
        }
    </script>
    <div id="wrapper">
        <div id="mySidebar" class="sidebar">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="/Admin/Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/ShowAllTimeSheet/TimeSheet"><i class="fa fa-edit fa-fw"></i> All TimeSheet</a>
                </li>
                <li>
                    <a href="/Team/Members"><i class="fa fa-group fa-fw"></i> Your Team</a>
                </li>
                <li>
                    <a href="/TimeSheetExport/TimeSheetReport"><i class="fa fa-table fa-fw"></i> TimeSheet Export</a>
                </li>
                <li>
                    <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>
        @*<div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <ul class="nav" id="side-menu">
                <a href="/ShowAllTimeSheet/TimeSheet"><i class="fa fa-edit fa-fw"></i> All TimeSheet</a>
                <a href="/Team/Members"><i class="fa fa-group fa-fw"></i> Your Team</a>
                <a href="/TimeSheetExport/TimeSheetReport"><i class="fa fa-table fa-fw"></i> TimeSheet Export</a>
                <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </ul>
        </div>*@

        <div id="main">
            <button class="openbtn" onclick="openNav()">☰</button>
            <span style="padding-left:35%;width:250px">
                <img src="https://tresume.us/img_Home/Tresume_White_transparent.png" style="width:250px" />
            </span>
            <span class="pull-right">
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa  fa-user" style="color: #583a58"></i> <i class="fa fa-caret-down" style="color: #583a58"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>

                    </li>
                </ul>
                <h4>@Session["Username"]</h4>

            </span>

            <!-- /.dropdown-user Export to Excel
        <!--</li>-->
        </div>
        <!-- Navigation -->
        <!--<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">-->
        <!-- Just an image -->
        <!--<nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
                </a>
            </nav>TIME MANAGER
        </a>
    </div>-->
        <!-- /.navbar-header -->
        <!--<ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">

        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>-->
        <!-- /.dropdown-user -->
        <!--</li>-->
        <!-- /.dropdown -->
        <!--</ul>-->
        <!-- /.navbar-top-links -->
        <!--<div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="/Admin/Dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>

                <li>
                    <a href="/ShowAllTimeSheet/TimeSheet"><i class="fa fa-edit fa-fw"></i> All TimeSheet</a>
                </li>
                <li>
                    <a href="/ShowAllExpense/Expense"><i class="fa fa-edit fa-fw"></i> All Expense</a>
                </li>
                <li>
                    <a href="/Team/Members"><i class="fa fa-group fa-fw"></i> Your Team</a>
                </li>
                <li>
                    <a href="/TimeSheetExport/TimeSheetReport"><i class="fa fa-table fa-fw"></i> TimeSheet Export</a>
                </li>
                <li>
                    <a href="/ExpenseExport/Report"><i class="fa fa-table fa-fw"></i> Expense Report</a>
                </li>

            </ul>
        </div>-->
        <!-- /.sidebar-collapse -->
        <!--</div>-->
        <!-- /.navbar-static-side -->
        <!--</nav>-->
        <div id="page-wrapper" style="background: none; margin: 0 0 0 0px">
            <div class="row">

                <script src="~/Scripts/datetimepicker/jquery-1.12.4.js"></script>
                <script src="~/Template/vendor/bootstrap/js/bootstrap.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
                <script src="~/Scripts/datetimepicker/jqueryui.js"></script>
                <script>
                    $(document).ready(function () {
                        openNav();
                    });
                </script>
                @RenderBody()
            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
</html>
